/*
|----------------------------------------------------------------------
|       Logo
|----------------------------------------------------------------------
*/

.logo {
	position: relative;
	@include flex(center, center);
	width: 100%;
	max-width: 8rem;
	height: 6rem;
	> a {
		display: block;
		width: 100%;
		max-width: 100%;
		height: 100%;
		> img {
			height: 100%;
			@include object(contain, left center);
			-webkit-transition: var(--transition);
			transition: var(--transition);
		}
	}
	header & {
		@include pos;
		left: 1.5rem;
		margin: 1.8rem 0 0;
		-webkit-transition: var(--transition);
		transition: var(--transition);
	}
	footer & {
		max-width: 8rem;
		height: auto;
	}
}

/*
|----------------------------------------------------------------------
|       Header
|----------------------------------------------------------------------
*/

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8.8rem;
	background: var(--black);
	-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--black_rgb), 0.35);
	box-shadow: 0 0.5rem 1rem 0 rgba(var(--black_rgb), 0.35);
	-webkit-transition: var(--transition);
	transition: var(--transition);
	z-index: 30;
	.contain {
		height: inherit;
	}
	@at-root {
		.header_strip {
			@include flex(center, flex-end);
			height: 4rem;
			padding: 1rem 0;
			@include mobile {
				display: none;
			}
			ul {
				@include list;
				@include flex;
				@include gap(0.5rem 1.5rem);
				&.social_links {
					> li {
						> a {
							@include flex(center, center);
							width: 1.6rem;
							min-width: 1.6rem;
							height: 1.6rem;
							@include filter(0.6);
							&:hover {
								@include filter(none);
							}
							> img {
								@include object(contain);
							}
						}
					}
				}
				&.sm_list {
					margin-right: 3rem;
					> li {
						> a {
							display: block;
							font-size: 1.1rem;
							color: var(--dark_gray);
							&:hover {
								color: var(--prime_color);
							}
						}
					}
				}
			}
		}
	}
}

#nav {
	@include flex(center, flex-end);
	height: 4rem;
	/* @include mobile {
		@include pos($pos: fixed);
		@include flex(center, flex-start, column);
		@include gap(2rem);
		height: auto;
		background: rgba(var(--black_rgb), 0.9);
		padding: 5rem;
		margin-top: 0;
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
		// border-top: 0.1rem solid var(--light_gray);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		overflow: hidden;
		overflow-y: auto;
		-webkit-transition: var(--transition);
		transition: var(--transition);
	} */
	header.logged & {
		margin: 2.4rem 0;
	}
	&.active {
		@include mobile {
			#nav_list {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
	> ul {
		@include list;
		@include flex;
		margin: 0 -2.4rem;
		> li {
			padding: 0 2.4rem;
			> a {
				position: relative;
				@include flex(center, center);
				color: var(--light);
				font-weight: 600;
				text-align: center;
				text-transform: uppercase;
				white-space: nowrap;
				&.active {
					color: var(--prime_color);
				}
				&:hover,
				&:focus {
					color: var(--prime_color);
				}
			}
		}
	}
	#nav_list {
		@include mobile {
			@include pos($pos: fixed, $z: 3);
			@include flex(center, flex-start, column);
			@include gap(3rem);
			height: auto;
			background: rgba(var(--black_rgb), 0.9);
			padding: 5rem;
			margin-top: 0;
			-webkit-backdrop-filter: blur(1rem);
			backdrop-filter: blur(1rem);
			// border-top: 0.1rem solid var(--light_gray);
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			overflow: hidden;
			overflow-y: auto;
			-webkit-transition: var(--transition);
			transition: var(--transition);
		}
		@include mobile {
			@include flex($flow: column);
			margin: 0;
			> li {
				@include mobile {
					padding: 0;
				}
			}
		}
	}
	#icon_btn {
		margin: 0 -1rem;
		margin-left: 4rem;
		li {
			padding: 0 1rem;
			> a,
			> button {
				position: relative;
				@include flex;
				width: 2.2rem;
				min-width: 2.2rem;
				height: 2.2rem;
				&.active {
					&::before {
						content: "";
					}
					> img {
						@include filter(none);
					}
				}
				&::before {
					position: absolute;
					top: -0.1rem;
					right: 0.2rem;
					width: 1rem;
					height: 1rem;
					background: var(--prime_color);
					border: 0.2rem solid var(--black);
					border-radius: 75%;
					z-index: 1;
				}
				> img {
					@include filter(0.7);
					-webkit-transition: inherit;
					transition: inherit;
				}
			}
		}
	}
	#pro_btn {
		@include flex(center);
		cursor: pointer;
		margin-left: 3rem;
		z-index: 1;
		@include mobile {
			margin-left: 2rem;
			margin-right: 4rem;
		}
		.ico {
			width: 3.6rem;
			min-width: 3.6rem;
			height: 3.6rem;
		}
		.dropdown_menu {
			left: initial;
			right: 0;
			min-width: 18rem;
			max-height: calc(100vh - 8.8rem);
			overflow: auto;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Banner
|----------------------------------------------------------------------
*/

#banner {
	@include bg(cover);
	&::before {
		content: "";
		@include pos;
		background: var(--black);
		opacity: 0.6;
		mix-blend-mode: multiply;
		z-index: 1;
	}
	.contain {
		position: relative;
		z-index: 3;
	}
	.outer {
		@include flex(center);
		min-height: 50rem;
		padding: 8rem 0;
		.content {
			max-width: 76rem;
			text-align: center;
			margin: auto;
			h1 {
				color: var(--light);
				font-size: 6rem;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0 0 2rem;
				@include mobile {
					font-size: 4.6rem;
				}
			}
			p {
				color: var(--light);
				font-size: 2.2rem;
				font-weight: 200;
				margin-bottom: 2rem;
				@include mobile {
					font-size: 1.8rem;
				}
			}
		}
	}
	.main_search_form {
		background: var(--light);
		> .input {
			color: var(--black);
			&:nth-child(1) {
				border-right-color: rgba(var(--black_rgb), 0.2);
				@include mobile_md {
					border-bottom-color: rgba(var(--black_rgb), 0.2);
				}
			}
			@include placeholder(rgba(var(--black_rgb), 0.5));
		}
	}
	@at-root {
		.main_search_form {
			@include flex(center);
			background: rgba(var(--light_rgb), 0.2);
			border-radius: 0.8rem;
			-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
			box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
			overflow: hidden;
			@include mobile_md {
				@include flex(center, center, column);
			}
			> .input {
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
				background-color: transparent;
				@include mobile_md {
					-webkit-box-flex: 0;
					-ms-flex: none;
					flex: none;
				}
				&:nth-child(1) {
					border-right: 0.1rem solid rgba(var(--light_rgb), 0.2);
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					@include mobile_md {
						border: 0;
						border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
						border-radius: 0;
					}
				}
			}
			> .site_btn {
				@include mobile_md {
					width: 100%;
					border-radius: 0;
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Footer
|----------------------------------------------------------------------
*/

#footer {
	background: var(--dark);
	padding: 6rem 0;
	margin-top: auto;
	overflow: hidden;
	.main_row {
		> .column1 {
			width: 25%;
			@include ipad {
				width: 100%;
			}
		}
		> .column2,
		> .column3 {
			width: 20%;
			@include ipad {
				width: 50%;
			}
		}
		> .column4 {
			width: 30%;
			@include ipad {
				width: 50%;
			}
			@include mobile {
				width: 100%;
			}
		}
	}
	a {
		color: var(--light_gray);
		&:hover {
			color: var(--prime_color);
		}
	}
	.title {
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 1.6rem;
		text-transform: uppercase;
	}
	.list {
		@include list;
		> li {
			&:not(:nth-last-child(1)) {
				margin-bottom: 1rem;
			}
		}
	}
	form {
		p {
			font-size: 1.2rem;
			line-height: 140%;
			> a {
				text-decoration: underline;
			}
		}
		.form_blk {
			> p {
				position: relative;
				@include flex(center);
				button {
					@include pos($l: null, $r: 1rem);
					background: var(--light_gray);
					margin: auto;
				}
			}
		}
	}
	.copyright {
		@include flex(center, space-between);
		font-size: 1.2rem;
		margin-top: 6rem;
		padding-top: 3rem;
		border-top: 0.1rem solid rgba(var(--light_rgb), 0.2);
		@include ipad {
			display: block;
		}
		p {
			margin: 0;
			@include ipad {
				margin: 0 0 2rem;
			}
		}
		.terms_list {
			@include list;
			@include flex($flow: wrap);
			margin: -1rem -2rem;
			@include ipad {
				margin: -1rem;
			}
			> li {
				padding: 1rem 2rem;
				@include ipad {
					padding: 1rem;
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       X Banner
|----------------------------------------------------------------------
*/

#x_banner {
	padding: 6rem 0;
	@include bg(cover);
	&::before {
		content: "";
		@include pos;
		background: var(--black);
		opacity: 0.6;
		mix-blend-mode: multiply;
		z-index: 1;
	}
	.contain {
		position: relative;
		z-index: 3;
	}
	.content {
		max-width: 60rem;
		margin: auto;
		h1 {
			margin: 0;
			& + * {
				margin-top: 2rem;
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Specialities
|----------------------------------------------------------------------
*/

#specialities {
	padding: 8rem 0;
	@include ipad {
		padding: 4rem 0;
	}
	h2 {
		margin-bottom: 2.6rem;
	}
	.flex_row {
		> .column1 {
			width: 40%;
		}
		> .column2 {
			width: 50%;
		}
	}
	.image {
		mix-blend-mode: difference;
	}
	.list {
		@include list;
		> li {
			@include flex;
			font-size: 1.8rem;
			padding-bottom: 2rem;
			border-bottom: 0.1rem solid var(--prime_color);
			&:not(:nth-last-child(1)) {
				margin-bottom: 2rem;
			}
			> img {
				@include object(contain);
				width: 1.6rem;
				min-width: 1.6rem;
				height: 1.6rem;
				margin-top: 0.8rem;
				margin-right: 2.5rem;
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Report
|----------------------------------------------------------------------
*/

#report {
	background: var(--dark);
	padding: 8rem 0;
	@include ipad_sm {
		padding: 4rem 0;
	}
	.image {
		border-radius: 0.8rem;
		overflow: hidden;
	}
	.btn_blk {
		margin-top: 2rem;
		&_desktop {
			@include mobile {
				display: none;
			}
		}
		&_mobile {
			display: none;
			@include mobile {
				@include flex;
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Get in Touch
|----------------------------------------------------------------------
*/

#in_touch {
	padding: 8rem 0;
	padding-top: 0;
	@include ipad_sm {
		padding: 4rem 0;
	}
	.content {
		margin-bottom: 4rem;
		@include ipad_sm {
			margin-bottom: 3rem;
		}
	}
	.main_row {
		margin: -1.5rem -4rem;
		> div {
			padding: 1.5rem 4rem;
		}
	}
	.form_row {
		margin: -1rem;
		> div {
			padding: 1rem;
		}
	}
	@at-root {
		.contact_info_blk {
			position: relative;
			padding-top: 9rem;
			@include ipad_sm {
				margin-bottom: 2rem;
			}
			.image {
				border-radius: 0.8rem;
				overflow: hidden;
			}
			.text {
				position: absolute;
				top: 0;
				left: 0;
				max-width: 39rem;
				background: var(--prime_color);
				padding: 2rem;
				border-radius: 0.8rem;
				overflow: hidden;
				z-index: 1;
				@include mobile {
					max-width: 25rem;
					padding: 2rem;
				}
				h5 {
					text-transform: uppercase;
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       OP Categories
|----------------------------------------------------------------------
*/

#op_categories {
	padding: 8rem 0;
	overflow: hidden;
	@include ipad_sm {
		padding: 4rem 0;
	}
	.content {
		max-width: 64rem;
		margin: 0 auto 5rem;
		@include ipad_sm {
			margin-bottom: 3rem;
		}
	}
	.block_row {
		@include flex;
		> .col {
			width: 33.3334%;
		}
	}
	@at-root {
		.slick_category {
			-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
			box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
			.category_card {
				border-radius: 0;
				.txt {
					max-width: 36rem;
				}
			}
		}
	}
}

.category_card {
	position: relative;
	padding-bottom: 84%;
	border-radius: 0.8rem;
	-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
	box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
	overflow: hidden;
	&:hover {
		.fig {
			> img {
				-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
		.txt {
			h4 {
				&::before {
					width: 2rem;
					margin-right: 1rem;
				}
			}
			p {
				height: 4.6rem;
				margin-top: 1rem;
			}
		}
	}
	.fig {
		@include pos;
		> img {
			@include object(cover);
			-webkit-transition: var(--transition);
			transition: var(--transition);
		}
	}
	> button {
		@include flex(center, center);
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 3rem;
		min-width: 3rem;
		height: 3rem;
		// background: rgba(var(--light_rgb), 0.8);
		background: var(--black);
		border-radius: 75%;
		// -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
		// box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
		z-index: 3;
		&::before {
			content: "";
			width: 1.6rem;
			min-width: 1.6rem;
			height: 1.6rem;
			@include bg(contain);
		}
		&.heart {
			&::before {
				background-image: url("/images/icon-heart.svg");
				@include filter(1);
			}
			&.fill {
				&::before {
					@include filter(none);
				}
			}
		}
	}
	.txt {
		position: absolute;
		left: 0;
		bottom: 0;
		max-width: 32rem;
		background: rgba(var(--dark_rgb), 0.8);
		padding: 2rem;
		border-top-right-radius: 0.8rem;
		z-index: 2;
		.tag {
			display: inline-block;
			background: var(--prime_color);
			font-size: 1.2rem;
			line-height: 1;
			padding: 0.3rem 1rem 0.6rem;
			margin-bottom: 2rem;
			border-radius: 0.4rem;
		}
		.date {
			@include flex(center);
			color: rgba(var(--light_rgb), 0.5);
			font-size: 1.3rem;
			> img {
				@include object(contain);
				width: 1.6rem;
				min-width: 1.6rem;
				height: 1.6rem;
				margin-right: 1rem;
				@include filter(1);
			}
		}
		h4 {
			@include flex;
			font-weight: 700;
			text-transform: uppercase;
			&::before {
				content: "";
				width: 0;
				height: 0.3rem;
				background: var(--prime_color);
				margin-top: 1.2rem;
				margin-right: 0;
				-webkit-transition: var(--transition);
				transition: var(--transition);
			}
		}
		.rating {
			margin-top: 1rem;
		}
		p {
			// display: none;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			height: 0;
			margin-top: 0;
			-webkit-transition: var(--transition);
			transition: var(--transition);
			overflow: hidden;
		}
	}
}

.rating {
	@include flex(center, flex-end);
	@include gap(0.5rem);
	color: var(--yellow);
	direction: rtl;
	> i {
		width: 1.6rem;
		min-width: 1.6rem;
		height: 1.6rem;
		@include star;
	}
}

/*
|----------------------------------------------------------------------
|       Matches
|----------------------------------------------------------------------
*/

#matches {
	padding: 8rem 0;
	overflow: hidden;
	@include ipad_sm {
		padding: 4rem 0;
	}
	.content {
		max-width: 64rem;
		margin: 0 auto 5rem;
		@include ipad_sm {
			margin-bottom: 3rem;
		}
	}
}

.match_card {
	position: relative;
	@include flex(center);
	background: var(--dark);
	padding: 3rem;
	-webkit-transition: var(--transition);
	transition: var(--transition);
	@include ipad_sm {
		@include flex(center, center, column);
	}
	&:hover {
		background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(var(--dark_rgb), 0.8)), color-stop(50%, #540e0f), to(rgba(var(--dark_rgb), 0.8)));
		background: linear-gradient(to right, rgba(var(--dark_rgb), 0.8) 0, #540e0f 50%, rgba(var(--dark_rgb), 0.8) 100%);
	}
	&:not(:nth-last-child(1)) {
		border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
	}
	&s {
		border-radius: 0.8rem;
		overflow: hidden;
	}
	> a {
		@include pos($z: 2);
	}
	.teams {
		@include flex(center);
		margin-right: 5rem;
		@include ipad_sm {
			margin: 0 auto 2rem;
		}
		> img {
			@include object(contain);
			width: 5rem;
			min-width: 5rem;
			height: 6rem;
			margin: 0 2rem;
		}
		.member {
			text-align: center;
			.icon {
				width: 10rem;
				min-width: 10rem;
				height: 12rem;
				margin: 0 auto;
				> img {
					@include object(contain);
				}
			}
			.name {
				font-weight: 700;
				text-transform: uppercase;
				margin-top: 1rem;
			}
		}
	}
	.txt {
		margin-right: auto;
		@include ipad_sm {
			text-align: center;
			margin: 0 auto 2rem;
		}
		.tags {
			@include flex($flow: wrap);
			@include list;
			@include gap(0.5rem 1rem);
			margin-bottom: 2rem;
			@include ipad_sm {
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				margin: 0 auto;
			}
			> li {
				> span {
					display: inline-block;
					background: var(--prime_color);
					font-size: 1.2rem;
					line-height: 1;
					padding: 0.3rem 1rem 0.6rem;
					margin-bottom: 2rem;
					border-radius: 0.4rem;
				}
			}
		}
		.date {
			@include flex(center);
			color: rgba(var(--light_rgb), 0.5);
			font-size: 1.3rem;
			@include ipad_sm {
				@include flex(center, center);
			}
			> img {
				@include object(contain);
				width: 1.6rem;
				min-width: 1.6rem;
				height: 1.6rem;
				margin-right: 1rem;
				@include filter(1);
			}
		}
	}
	.time {
		font-size: 4rem;
		font-weight: 800;
		@include ipad_sm {
			margin: 0 auto;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Logon
|----------------------------------------------------------------------
*/

#logon {
	@include flex;
	background-size: 0;
	padding: 0;
	padding-left: 50%;
	margin-top: -8.8rem;
	@include ipad_sm {
		@include flex($flow: column);
		padding: 0;
	}
	> * {
		width: 50%;
		padding: 6rem 2rem;
		@include ipad_sm {
			width: 100%;
			padding: 3rem 2rem;
		}
	}
	.login_sidebar {
		@include pos($pos: fixed);
		min-height: 100vh;
		@include flex(center);
		@include bg(cover);
		@include ipad_sm {
			position: relative;
			min-height: initial;
		}
		&::before {
			content: "";
			@include pos($z: 1);
			background: rgba(var(--prime_color_rgb), 0.8);
			-webkit-backdrop-filter: blur(0.5rem);
			backdrop-filter: blur(0.5rem);
		}
		&_txt {
			position: relative;
			max-width: 40rem;
			color: var(--light);
			margin: auto;
			z-index: 2;
			.terms_list {
				@include list;
				@include flex($flow: wrap);
				@include gap(1rem 2rem);
				margin-top: 2rem;
				> li {
					> a {
						color: rgba(var(--light_rgb), 0.7);
						&:hover {
							color: var(--light);
						}
					}
				}
			}
		}
	}
	.logon_form {
		-ms-flex-item-align: center;
		align-self: center;
		width: 100%;
		.log_blk {
			max-width: 50rem;
			margin: auto;
			.txt {
				margin-bottom: 3rem;
			}
		}
	}
	.forgot,
	.account {
		a {
			color: var(--prime_color);
			font-weight: 500;
			&:hover {
				color: var(--light);
			}
		}
	}
	.signup_as_btn_blk {
		@include flex($flow: nowrap);
		.input {
			text-align: center;
			&.active {
				background: var(--prime_color);
				color: var(--light);
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Terms
|----------------------------------------------------------------------
*/

#terms {
	padding: 8rem 0;
	.blk {
		background: var(--dark);
		padding: 3rem;
		border-radius: 0.8rem;
	}
}

/*
|----------------------------------------------------------------------
|       Book Now
|----------------------------------------------------------------------
*/

#book_now {
	padding: 8rem 0;
	.blk {
		max-width: 80rem;
		background: var(--dark);
		padding: 3rem;
		margin: auto;
		border-radius: 0.8rem;
	}
}

/*
|----------------------------------------------------------------------
|       Contact
|----------------------------------------------------------------------
*/

#contact {
	padding: 8rem 0;
	.blk {
		background: var(--dark);
		padding: 3rem;
		border-radius: 0.8rem;
	}
	.content {
		.info_list {
			@include list;
			li {
				@include flex;
				&:not(:nth-last-child(1)) {
					margin-bottom: 1.5rem;
				}
				> img {
					@include object(contain);
					width: 2rem;
					min-width: 2rem;
					height: 2rem;
					margin-right: 1rem;
				}
				> a {
					color: var(--prime_color);
					&:hover {
						color: var(--light);
					}
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Search
|----------------------------------------------------------------------
*/

#search {
	padding: 4rem 0 8rem;
	.main_search_form {
		margin-bottom: 3rem;
	}
	.top_head {
		@include flex($justify: space-between);
		@include gap(1.5rem);
		margin-bottom: 3rem;
		@include mobile_md {
			@include flex($flow: column);
		}
	}
	.outer {
		@include flex;
		@include gap(3rem);
		@include mobile {
			@include flex($flow: column);
		}
		> .map_blk {
			position: relative;
			width: 32rem;
			min-width: 32rem;
			height: 50rem;
			min-height: 100vh;
			border-radius: 0.8rem;
			overflow: hidden;
			@include mobile {
				display: none;
				@include pos($pos: fixed, $b: 7.4rem, $z: 40);
				width: 100%;
				min-width: initial;
				height: auto;
				min-height: initial;
				border-radius: 0;
				&.active {
					display: block;
				}
			}
			> iframe {
				@include pos;
				width: 100%;
				height: 100%;
			}
		}
		> .items_blk {
			width: calc(100% - 32rem);
			@include mobile {
				width: 100%;
			}
		}
	}
	.map_btn_blk {
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--black);
		padding: 1rem 1.5rem;
		z-index: 12;
		@include mobile {
			display: block;
		}
	}
}

.pagination {
	@include flex(center, center);
	margin-top: 4rem;
	> ul {
		@include list;
		@include flex;
		border-radius: 0.8rem;
		-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
		box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
		overflow: hidden;
		> li {
			&.active {
				> a,
				> span,
				> button {
					background: rgba(var(--light_rgb), 0.4);
					color: var(--light);
				}
			}
			> a,
			> span,
			> button {
				@include flex(center, center);
				min-width: 4.4rem;
				height: 4.4rem;
				background: rgba(var(--light_rgb), 0.2);
				color: rgba(var(--light_rgb), 0.5);
				font-weight: 600;
				padding: 0 0.5rem;
				&:hover {
					background: rgba(var(--light_rgb), 0.3);
					color: var(--light);
				}
				&.prev,
				&.next {
					&::before {
						content: "";
						@include mask_image;
						width: 1rem;
						min-width: 1rem;
						height: 1rem;
						-webkit-transition: none;
						transition: none;
					}
				}
				&.prev {
					&::before {
						@include chev_left;
					}
				}
				&.next {
					&::before {
						@include chev_right;
					}
				}
			}
			> span {
				color: var(--prime_color);
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Catalogue
|----------------------------------------------------------------------
*/

#catalogue {
	padding: 8rem 0;
	.top_head {
		@include flex($justify: space-between);
		margin-bottom: 3rem;
	}
	.main_row {
		> .col {
			-webkit-box-flex: 0;
			-ms-flex: none;
			flex: none;
		}
		> .col1 {
			width: 70%;
		}
		> .col2 {
			width: 30%;
		}
	}
}

#filter {
	position: relative;
	background: var(--dark);
	padding: 2rem;
	> .x_btn {
		display: none;
	}
	.head {
		padding: 2rem;
		margin: -2rem -2rem 2rem;
		border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
	}
	.in_blk {
		&:not(:nth-last-child(1)) {
			padding-bottom: 2rem;
			margin-bottom: 2rem;
			border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
		}
		.ctg_lst {
			@include list;
			> li {
				&:not(:nth-last-child(1)) {
					margin-bottom: 1rem;
				}
				> label {
					@include i_flex;
					color: rgba(var(--light_rgb), 0.7);
					> input {
						margin-top: 0.3rem;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       About us
|----------------------------------------------------------------------
*/

#about {
	padding: 8rem 0;
}

#intro {
	padding: 8rem 0;
	.image {
		border-radius: 0.8rem;
		overflow: hidden;
	}
}

#affiliate {
	background: var(--dark);
	padding: 8rem 0;
	.content {
		max-width: 60rem;
		margin: 0 auto 3rem;
	}
	.flex_row {
		> div {
			@include flex;
		}
	}
	.inner {
		// background: rgba(var(--light_rgb), 0.2);
		background: var(--prime_color);
		padding: 3rem;
		border-radius: 0.8rem;
		a {
			color: var(--light);
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
	& ~ #in_touch {
		padding-top: 8rem;
	}
}

/*
|----------------------------------------------------------------------
|       Tournaments
|----------------------------------------------------------------------
*/

#tournaments {
	padding: 8rem 0;
}

/*
|----------------------------------------------------------------------
|       FAQ's
|----------------------------------------------------------------------
*/

#faq {
	padding: 8rem 0;
	.contain {
		max-width: 80rem;
	}
}

.faq_lst {
	&:not(:nth-last-child(1)) {
		margin-bottom: 4rem;
	}
	> .faq_blk {
		position: relative;
		background: rgba(var(--light_rgb), 0.2);
		padding: 2rem;
		margin-bottom: 2rem;
		border-radius: 0.8rem;
		-webkit-transition: var(--transition);
		transition: var(--transition);
		&:nth-last-child(1) {
			margin-bottom: 0;
		}
		&.active {
			h5 {
				color: var(--prime_color);
				&:after {
					-webkit-transform: rotateX(180deg);
					transform: rotateX(180deg);
				}
			}
			.txt {
				display: block;
			}
		}
		h5 {
			position: relative;
			padding: 0 2rem 0 0;
			margin: 0;
			cursor: pointer;
			-webkit-transition: var(--transition);
			transition: var(--transition);
			z-index: 2;
			&:after {
				content: "";
				position: absolute;
				top: 0.4rem;
				right: 0;
				@include chev;
				width: 1.2rem;
				height: 1.2rem;
			}
			&:hover {
				color: var(--prime_color);
			}
		}
		.txt {
			display: none;
			padding: 1rem 0 0;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Dashboard
|----------------------------------------------------------------------
*/

.dashboard {
	padding: 4rem 0 8rem;
	.table_top_block {
		@include flex;
		@include gap(1.5rem);
		margin: 3rem 0 2rem;
		@include mobile_md {
			@include flex($flow: column);
		}
		.form_blk {
			min-width: 36rem;
			margin: 0;
			margin-right: auto;
			@include mobile_md {
				min-width: 100%;
			}
			> img {
				@include filter(1);
			}
		}
	}
	.pay_blk {
		@include flex($flow: column);
		@include gap(2rem 0);
		background: var(--dark);
		padding: 2rem;
		border-radius: 0.8rem;
		.head {
			margin-bottom: 1rem;
		}
		.icon {
			width: auto;
			max-width: 10rem;
			height: 2.6rem;
			> img {
				@include object(top left);
			}
		}
		.cvc {
			font-weight: 500;
		}
		.date {
			color: rgba(var(--light_rgb), 0.5);
		}
		.btm {
			padding: 1.5rem 2rem;
			margin: -2rem;
			margin-top: 0;
			border-top: 0.1rem solid rgba(var(--light_rgb), 0.2);
			.action_btn {
				margin-top: 0;
			}
		}
	}
	.action_btn {
		@include flex(center, $flow: wrap);
		@include list;
		@include gap(0.5rem 2rem);
		margin-top: 1rem;
		text-align: center;
		> li {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			&:not(:nth-last-child(1)) {
				border-right: 0.1rem solid rgba(var(--light_rgb), 0.2);
			}
			> a {
				@include flex(center, center);
				@include gap(0 1rem);
				font-weight: 500;
				&:not(:hover) {
					color: var(--light);
				}
				> img {
					width: 1.4rem;
					min-width: 1.4rem;
					height: 1.4rem;
				}
			}
		}
	}
}

#account {
	.pro_blk {
		@include flex(center);
		@include mobile_md {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			text-align: center;
		}
		> .ico {
			width: 7rem;
			min-width: 7rem;
			height: 7rem;
			margin-right: 2rem;
			@include mobile_md {
				margin: 0 auto 1rem;
			}
			&.icon {
				border-radius: 1rem;
				-webkit-box-shadow: none;
				box-shadow: none;
				> img {
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
		.txt {
			h2 {
				margin-bottom: 0;
				span {
					font-weight: 400;
				}
			}
		}
	}
	.dp_blk {
		@include flex(flex-end);
		margin-bottom: 3rem;
		@include mobile {
			-ms-flex-flow: wrap;
			flex-flow: wrap;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}
		.ico {
			width: 15rem;
			min-width: 15rem;
			height: 15rem;
			margin-right: 2rem;
			@include mobile {
				margin: 0 0 2rem;
			}
			@include mobile_md {
				margin-left: auto;
				margin-right: auto;
			}
		}
		.txt {
			@include mobile_md {
				text-align: center;
			}
			.change_photo_btn {
				color: var(--prime_color);
				font-weight: 600;
			}
			.btn_blk {
				@include mobile_md {
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
				}
				input[type="file"] {
					display: none;
				}
			}
		}
	}
}

.table_blk {
	overflow: hidden;
	overflow-x: auto;
	&_wrap {
		background: var(--dark);
		border-radius: 0.8rem;
		overflow: hidden;
		.table_pagination {
			@include flex(center, space-between);
			@include gap(1.5rem);
			padding: 2rem;
			@include mobile {
				@include flex($flow: column);
			}
			> * {
				margin: 0;
			}
		}
	}
	table {
		width: 100%;
		min-width: 100rem;
		tr {
			th,
			td {
				padding: 2rem 1rem;
				border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
				&:nth-child(1) {
					padding-left: 2rem;
				}
				&:nth-last-child(1) {
					padding-right: 2rem;
				}
			}
		}
		thead {
			th {
				color: rgba(var(--light_rgb), 0.7);
				font-size: 1.3rem;
				font-weight: 500;
			}
		}
	}
}

#booking {
	table {
		white-space: nowrap;
		.interest {
			> span {
				@include i_flex(center, center);
				background: rgba(var(--light_rgb), 0.2);
				line-height: 1;
				padding: 0.6rem 0.6rem;
				margin-right: 0.4rem;
				border-radius: 0.3rem;
			}
		}
		tr {
			a {
				&:not(:hover) {
					color: var(--light);
				}
			}
		}
	}
	.detail_blk {
		background: var(--dark);
		padding: 3rem;
		border-radius: 0.8rem;
		.list {
			@include list;
			> li {
				@include flex;
				@include mobile {
					@include flex($flow: column);
				}
				&:not(:nth-last-child(1)) {
					margin-bottom: 2rem;
				}
				> strong {
					width: 20rem;
					min-width: 20rem;
					font-weight: 500;
					margin-right: 2rem;
				}
				> span {
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1;
					color: rgba(var(--light_rgb), 0.7);
				}
			}
		}
	}
}

#notifications {
	.noti_blk {
		@include flex;
		> .ico {
			width: 4.6rem;
			min-width: 4.6rem;
			height: 4.6rem;
			margin-right: 2rem;
		}
		> .txt {
			p {
				color: rgba(var(--light_rgb), 0.7);
			}
		}
	}
	.time {
		color: rgba(var(--light_rgb), 0.3);
	}
}

#messages {
	padding-bottom: 2rem;
	.wrapper {
		@include flex;
		@include gap(2rem);
		> .user_blk,
		> .chat_blk {
			@include flex($flow: column);
			height: calc(100vh - (8.8rem + 2rem));
			min-height: 30rem;
			background: var(--dark);
			border-radius: 0.8rem;
			overflow: hidden;
		}
		> .user_blk {
			width: 30rem;
			min-width: 30rem;
			@include mobile {
				width: 100%;
				min-width: initial;
			}
		}
		> .chat_blk {
			width: calc(100% - 30rem);
			@include mobile {
				display: none;
				width: 100%;
			}
		}
	}
	.user_blk {
		.srch_blk {
			position: relative;
			background: var(--dark);
			padding: 1rem 2rem;
			border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
			> img {
				@include pos($r: null);
				width: 1.6rem;
				min-width: 1.6rem;
				height: 1.6rem;
				margin: auto;
				margin-left: 3.6rem;
				@include filter(0.4);
			}
			> .input {
				height: 4.2rem;
				padding-left: 4rem;
				border-radius: 5rem;
			}
		}
		.user_list {
			@include list;
			margin-bottom: -0.1rem;
			overflow: hidden;
			overflow-y: auto;
			@include scrollbar;
			> li {
				position: relative;
				@include flex;
				padding: 1.2rem 2rem;
				cursor: pointer;
				border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.1);
				-webkit-transition: var(--transition);
				transition: var(--transition);
				&:hover {
					background: rgba(var(--light_rgb), 0.05);
				}
				&.active {
					background: var(--prime_color);
				}
				.inr {
					margin-right: auto;
				}
				.date {
					color: rgba(var(--light_rgb), 0.5);
					font-size: 1rem;
					line-height: 1;
					text-align: right;
					margin-left: 1rem;
					white-space: nowrap;
				}
				.name {
					color: var(--light);
					font-weight: 600;
					line-height: 1;
					margin-bottom: 0.7rem;
				}
				p {
					color: rgba(var(--light_rgb), 0.5);
					font-size: 1.2rem;
					line-height: 1;
					margin: 0;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
		}
	}
	.chat_blk {
		&_inner {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			padding: 2rem;
			overflow: hidden;
			overflow-y: auto;
			@include scrollbar;
		}
		.bubble {
			position: relative;
			@include gap(1rem);
			&.me {
				@include flex($flow: row-reverse);
				> .txt {
					@include flex(flex-end, $flow: column);
					.name {
						@include flex($flow: row-reverse);
					}
					.cnt {
						background: rgba(var(--light_rgb), 0.3);
						margin-left: 10rem;
						border-top-left-radius: 2rem;
						border-bottom-left-radius: 2rem;
						&:nth-child(2) {
							border-top-right-radius: 2rem;
						}
						&:nth-last-child(1) {
							border-top-right-radius: 0;
							border-bottom-right-radius: 2rem;
						}
					}
					> p {
						@include flex($flow: wrap);
						@include gap(0.7rem);
						> img {
							@include object(cover);
							width: 12rem;
							min-width: 12rem;
							height: 7.4rem;
							background: rgba(var(--light_rgb), 0.2);
							border-radius: 0.8rem;
							overflow: hidden;
						}
					}
				}
			}
			&.you {
				@include flex($flow: row);
				> .txt {
					@include flex(flex-start, $flow: column);
					.name {
						@include flex($flow: row);
					}
					.cnt {
						background: var(--prime_color);
						margin-right: 10rem;
						border-top-right-radius: 2rem;
						border-bottom-right-radius: 2rem;
						&:nth-child(2) {
							border-top-left-radius: 2rem;
						}
						&:nth-last-child(1) {
							border-top-left-radius: 0;
							border-bottom-left-radius: 2rem;
						}
					}
				}
			}
			&:not(:nth-last-child(1)) {
				margin-bottom: 1rem;
			}
			> .ico {
				width: 4rem;
				min-width: 4rem;
				height: 4rem;
				border-radius: 75%;
				overflow: hidden;
				> img {
					@include object(cover);
				}
			}
			> .txt {
				.name {
					@include flex(baseline);
					@include gap(1rem);
					// color: #494d5e;
					line-height: 1;
					padding-top: 1rem;
					margin-bottom: 1rem;
					> strong {
						font-size: 1.2rem;
						font-weight: 500;
						opacity: 0.8;
					}
					> span {
						font-size: 1.1rem;
						opacity: 0.6;
					}
				}
				.cnt {
					max-width: 50rem;
					padding: 1rem 2rem;
					// border-radius: 2rem;
					&:not(:nth-last-child(1)) {
						margin-bottom: 0.8rem;
					}
				}
			}
		}
		.date_bar {
			@include flex(center);
			@include gap(0.8rem);
			font-size: 1.2rem;
			text-align: center;
			margin: 1.5rem 0 0.5rem;
			opacity: 0.7;
			&::before,
			&::after {
				content: "";
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
				height: 0.1rem;
				background: var(--light);
				opacity: 0.3;
			}
		}
	}
	.chat_form_blk {
		background: var(--dark);
		padding: 1rem 2rem;
		border-top: 0.1rem solid rgba(var(--light_rgb), 0.2);
		// overflow: hidden;
		form {
			@include flex;
			.attach_btn {
				-ms-flex-item-align: center;
				align-self: center;
				position: relative;
				width: 2.6rem;
				min-width: 2.6rem;
				height: 2.6rem;
				margin-right: 1rem;
				cursor: pointer;
				-webkit-transition: var(--transition);
				transition: var(--transition);
				overflow: hidden;
				&:hover {
					border-color: var(--prime_color);
				}
				> img {
					@include object(contain);
					@include filter(0.8);
				}
				> input {
					@include pos($z: 1);
					opacity: 0;
					cursor: pointer;
				}
			}
			.input {
				height: 5rem;
				padding-left: 2rem;
				border-radius: 5rem;
				&:not(:hover) {
					border-color: transparent;
				}
			}
			button {
				@include flex(center);
				-ms-flex-item-align: center;
				align-self: center;
				width: 2rem;
				min-width: 2rem;
				height: 2rem;
				margin-left: 1rem;
				> img {
					@include object(contain);
				}
			}
		}
	}
}

#new_tournament {
	.blk {
		background: var(--dark);
		padding: 3rem;
		border-radius: 0.8rem;
		hr {
			margin: 2rem 0;
		}
	}
	.contain {
		max-width: 90rem;
	}
}

#tournament_detail {
	padding-bottom: 8rem;
	.banner {
		background: var(--dark);
		padding: 5rem 0;
		margin-bottom: 5rem;
		.image_blk {
			display: grid;
			grid-template-columns: auto auto auto;
			@include gap(2rem);
			margin-bottom: 4rem;
			@include mobile {
				grid-template-columns: auto auto;
				@include gap(1rem);
			}
			.image {
				@include img($pb: 56%);
				border-radius: 0.8rem;
				&:nth-child(1) {
					grid-row: span 2;
					grid-column: span 2;
				}
				&:nth-child(n + 4) {
					display: none;
				}
				> img {
					@include object($fill: true);
				}
			}
		}
	}
	.data {
		@include flex;
		max-width: 80rem;
		margin: auto;
		> &_logo {
			@include object(contain);
			width: 10rem;
			min-width: 10rem;
			height: 10rem;
			margin-right: 2rem;
		}
		> &_text {
			h2 {
				margin-bottom: 2rem;
			}
			.tags_blk {
				@include flex(center);
				@include gap(1rem 2rem);
				margin-bottom: 1rem;
				.tag {
					background: rgba(var(--light_rgb), 0.2);
					color: var(--light);
					font-size: 1.1rem;
					line-height: 1;
					padding: 0.4rem 1.2rem;
					border: 0.1rem solid rgba(var(--light_rgb), 0.1);
					border-radius: 0.4rem;
					@include mobile {
						font-size: 1.2rem;
						line-height: 1.8rem;
						padding: 0.3rem 1.2rem;
					}
				}
			}
			.date_time_list {
				@include list;
				@include flex(center, $flow: wrap);
				@include gap(2rem);
				margin-top: 2rem;
				> li {
					opacity: 0.5;
				}
			}
		}
	}
	#overview {
		.contain {
			max-width: 80rem;
		}
		.team_block {
			@include flex;
			&:not(:nth-last-child(1)) {
				margin-bottom: 2rem;
				padding-bottom: 2rem;
				border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.1);
			}
			.icon {
				width: 8rem;
				min-width: 8rem;
				height: 8rem;
				margin-right: 2rem;
			}
		}
		.team_list {
			@include list;
			> li {
				@include flex(center, $flow: wrap);
				@include gap(1rem);
				&:not(:nth-last-child(1)) {
					margin-bottom: 1rem;
				}
				> span {
					opacity: 0.5;
				}
			}
			&_member {
				@include list;
				@include flex;
				> li {
					&:not(:nth-child(1)) {
						margin-left: -2rem;
					}
					> .ico {
						width: 4rem;
						min-width: 4rem;
						height: 4rem;
						border: 0.2rem solid rgba(var(--light_rgb), 0.3);
					}
				}
			}
		}
	}

	.outer {
		@include flex;
		> .l_side {
			width: calc(100% - 30rem);
		}
		> .r_side {
			width: 30rem;
			min-width: 30rem;
			padding-left: 3rem;
		}
	}
	.map_blk {
		position: relative;
		height: 32rem;
		border-radius: 0.8rem;
		overflow: hidden;
		> iframe {
			@include pos;
			width: 100%;
			height: 100%;
		}
	}
	.heart_btn {
		@include flex;
		color: var(--light);
		&:hover {
			color: var(--prime_color);
		}
		> img {
			width: 2rem;
			min-width: 2rem;
			height: 2rem;
			margin-right: 0.5rem;
			@include filter(1);
		}
	}
	#add_team_popup {
		._inner {
			max-width: 80rem;
		}
	}
	.review_block_wrapper {
		.review_block {
			&:not(:nth-last-child(1)) {
				margin-bottom: 2rem;
			}
		}
	}
}

.address_block {
	background: var(--black);
	max-height: 20rem;
	overflow: hidden;
	border-radius: 0.8rem;
	margin-top: 0.2rem;
	> ul {
		@include list;
		max-height: inherit;
		overflow: hidden;
		overflow-y: auto;
		> li {
			padding: 1rem 1.6rem;
			border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.05);
		}
	}
}

#search {
	.top_head {
		.btn_blk {
			-ms-flex-flow: nowrap;
			flex-flow: nowrap;
		}
		.sort_list_btn {
			@include flex;
			@include gap(0.6rem);
			margin-top: 1rem;
			> button {
				@include flex;
				width: 3rem;
				min-width: 3rem;
				height: 3rem;
				background: rgba(var(--light_rgb), 0.3);
				padding: 0.7rem;
				border: 0;
				border-radius: 0.5rem;
				-webkit-transition: var(--transition);
				transition: var(--transition);
				&:hover {
					background: rgba(var(--light_rgb), 0.4);
				}
				&.active {
					background: var(--prime_color);
				}
				> img {
					@include object(contain);
					@include filter(1);
				}
			}
		}
	}
}
